Source: popzi
Section: games
Priority: optional
Maintainer: Joao Pinto <joao.pinto@osgameseed.org>
Build-Depends: cdbs, 
 	debhelper (>= 7), 
 	python-support (>= 0.90), 
 	python
Standards-Version: 3.9.3
Homepage: http://www.osgameseed.org/games/popzi

Package: popzi
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Simple group and pop object game
 You need to group equal objects close to each other
 to pop them up.
